<%= @day_of_week %>
<%= @point_of_day[@day_of_week] %>
<%= @end_of_month %>

<br>

<table class="table" border="3">
  <thead>
    <th>SUN</th>
    <th>MON</th>
    <th>TUE</th>
    <th>WED</th>
    <th>THU</th>
    <th>FRI</th>
    <th>SAT</th>
  </thead>
  <tbody>
    <% 5.times do |i| %>
    <tr>
      <% 7.times do |j| %>
      <td class="day_element" id="<%= "day_#{@count_of_day}" %>">
        <% if @count_of_block>=@point_of_day[@day_of_week] && @end_of_month.to_i>=@count_of_day.to_i %>
        <%= link_to @count_of_day, "#myModal", remote: true, class: "hoehoe", "data-toggle" => "modal" %>
          <% @todos.each do |todo| %>
          <% if todo.due.strftime("%d").to_i == @count_of_day %>
             <div class="day_task"><%= todo.todo %></div>
          <% end %>
          <% end %>
        </div>
        <% @count_of_day+=1 %>
        <% end %>
      </td>
      <% @count_of_block+=1 %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">× </button>
    <h3 id="myModalLabel">Todo</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">OK</button>
  </div>
</div>

<%= javascript_tag do %>
$(".hoehoe").on("click", function(){
  $.get("<%= new_todo_path  %>", {name: "John"}, function(data){
    $(".modal-body").html(data);
  });
});

$(".day_task").draggable({
  stop: function(ev, ui){
    var table_offset = $("table tbody").offset();
    var out_obj = [table_offset.top, table_offset.left+$("table tbody").width(), table_offset.top+$("table tbody").height(), table_offset.left];
    console.log(out_obj);
    var task_offset = $(this).offset();
    var in_obj = [task_offset.top, task_offset.left+$(this).width(), task_offset.top+$(this).height(), task_offset.left];
    console.log(in_obj);

    if( is_in_range(out_obj, in_obj)){
      ;
    }else{
      $(this).remove();
    }
  }
});


$(".day_element").droppable({
  tolerance: "fit",
  drop: function(ev, ui){
    console.log(ev);
    console.log(ui);
    console.log(this);
    $("div.day_task.ui-draggable").css({left: 0, top: 0});
    console.log(this);
    ui.draggable.appendTo(this);
  }
});

// in_objがout_objの中に含まれているかを判定する関数
// objは両方とも配列とする
// obj[0]から上、右、下、左とする
var is_in_range = function(out_obj, in_obj){
  if(out_obj[0] > in_obj[0]){
    return false;
  }else if(out_obj[1] < in_obj[1]){
    return false;
  }else if(out_obj[2] < in_obj[2]){
    return false;
  }else if(out_obj[3] > in_obj[3]){
    return false;                        
  }else{
    return true;
  }
};
<% end %>
